/*Reseto*/
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62, 5%;
}
.fondo__index{
    background-image: url(../Imagenes-proyecto/PUBLICOOO.jpg);
    background-size: cover;
}
/*Menu Navegable*/
.menu__nav{
    background-color: rgb(63, 143, 181);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(163, 213, 214);
}

.logo__nav{
    width: 86px;
    padding: 0 80px;
}

.items__nav{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.items__nav li{
    border-radius: 3px;
    margin: 0 5px;
}

.items__nav li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: rgb(163, 213, 214);
}

.items__nav li:hover, li.activo{
    background-color: rgba(8, 91, 137,50%);
    transition: .4s;

}
/*Index*/
/*Main*/
/*-------Seccion 1*/
.contenedor__seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen__principal{
    width: 600px;
}
@font-face {
    font-family: Whole;
    src: url(../Font/Whole\ trains.ttf);
}

.eslogan__principal{
    color: rgb(163, 213, 214);
    font-size: 50px;
    font-family: Whole;
    background-color: rgba(0, 0, 0, 40%);
}
/*-------Seccion 2*/
.video__principal{
    margin: 150px;
    width: 760px;
    height: 360px;
    border: solid rgb(63, 143, 181);
    margin: 15px;
    padding: 15px;
}

/*------Seccion 3*/
.contenedor__seccion3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 213, 214, 40%);
}

.imagen__seccion3{
    width: 600px;
    border: solid 4px rgb(63, 143, 181);

}

.texto__seccion3{
    font-size: 40px;
    background-color: rgba(163, 213, 214, 40%);
}

/*Footer*/
.footer__contenedor{
    background-color: rgb(63, 143, 181);
    height: 150px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(163, 213, 214);
}

.logo__footer{
    width: 128px;
}

.logos__redes{
    color: rgb(8, 91, 137);
    padding: 50px 30px;
    font-size: 36px;
}

/*Info*/
.gradiente__fondo{
    background: rgb(21,193,231);
    background-image: radial-gradient(circle, rgba(21,193,231,1) 1%, rgba(1,148,246,1) 45%, rgba(0,255,224,1) 95%, rgba(44,240,226,1) 97%, rgba(44,240,226,1) 100%);
}
/*Main*/
.contenedor__encabezados{
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen__encabezados{
    width: 300px;
}

.titulos__encabezados{
    font-family: Whole;
    font-size: 80px;
    color: rgb(8, 91, 137);
}
/*-----Seccion 1*/
.contenedor__logros{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__logros{
    width: 500px;
    padding: 25px;
    display: flex;
    border: solid rgb(63, 143, 181) 3px;
}

.lista__logros{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 30px;
    padding: 25px;
    background-color: rgba(163, 213, 214, 40%);
}

/*--------Seccion 2*/
.contenedor__logros--dos{
    display: flex;
    flex-direction: row-reverse;
}
/*Galeria*/
/*Main*/
/*Seccion 1*/
.galeria__contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}
.item__galeria{
    position: relative;
    display: flex;
    justify-content: center;
}
.imagen__galeria{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border: double rgb(63, 143, 181) 3px;
    background-color: rgba(0, 0, 0, 40%);
}
/*Seccion 2*/
.videos__galeria {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: rgba(63, 143, 181, 60%);
}
.iframe__galeria {
    padding: 15px;
}
/*Nosotros*/
/*Main*/
.encabezado__nosotros{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    font-size: 50px;
    background-color: rgba(63, 143, 181, 60%);
    color: rgba(163, 213, 214,40%);
}
.nosotros__contenedor{
    display: flex;
    justify-content: center;
}
.img__comunidad{
    display: flex;
    text-align: center;
    width: 350px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 40%);
}
.parrafo__comunidad{
    display: flex;
    width: 100%;
    font-size: 35px;
    background-color: rgba(163, 213, 214, 70%);
}
.contenedor__encabezados--dos{
    display: flex;
    flex-direction: row-reverse;
}
.img__comunidad--dos{
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 40%);
}
/*Contacto*/
/*Main*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.seccion__contacto {
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;

}
.formulario__contacto {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color:rgb(163, 213, 214);
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;


}
.form__contenedor {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form__titulo {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.form__entrada {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 0.2em;

}
.form__entrada--mensaje {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form__cta {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(8, 159, 224);
    color: white;
    border: none;
    font-weight: 300;
    font-size: 1rem;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
}
.encabezado__nosotros {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    font-size: 50px;
    background-color: rgba(63, 143, 181, 60%);
    color: rgba(163, 213, 214,40%);
}
.imagen__contacto {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-left: 20%;
}

/*Responsive*/
/*Mobile*/

@media screen and (max-width:450px) {
    /*Menu nav,footer,index*/
    .menu__nav{
        width: 200vw;
    }
    .imagen__principal{
        width: 300px;
    }

    .eslogan__principal{
        text-align: center;
    }
    .video__principal{
        width: 560px;
        height: 260px;
    }
    .contenedor__seccion{
        margin-left: 300px;
    }
    .contenedor__seccion3{
        flex-direction: column;
        background-color: none;

    }
    .imagen__principal{
        width: 300px;
    }
    .footer__contenedor{
        width: 200vw;
    }
    .imagen__seccion3{
        margin-left: 300px;
    }
    .texto__seccion3{
        margin-left: 50px;
        width: 150vw;
        background-color: rgba(163, 213, 214, 40%);
    }
    /*info*/
    .contenedor__encabezados{
        justify-content: flex-start;

    }
    .contenedor__logros{
        align-items: none;
        width: 190vw;
        flex-direction: column;
    }
    .img__logros{
        width: 180vw;
    }

    .contenedor__logros--dos{
        align-items: none;
        width: 190vw;
        flex-direction: column;
    }
    /*Galeria*/
    .galeria__contenedor{
        display: grid;
        grid-template-columns: 1fr;
    }
    .item__galeria{
        width: 190vw;
    }
    .videos__galeria{
        display: none;
    }
    /*Nosotros*/
    .encabezado__nosotros{
        width: 200vw;
    }
    .nosotros__contenedor{
        width: 200vw;
        flex-direction: column;
    }
    .img__comunidad{
        width: 190vw;
    }
    .img__comunidad--dos{
        width: 190vw;
    }
    .parrafo__comunidad{
        width: 200vw;
    }
    .contenedor__encabezados--dos{
        flex-direction: column;
    }
    .seccion__contacto{
        width: 200vw;
    }
    .imagen__contacto{
        width: 150vw;
    }


    
}
@media (min-width: 450px) and (max-width: 992px){
        /*Menu nav,footer,index*/
        .menu__nav{
            width: 200vw;
        }
        .imagen__principal{
            width: 300px;
        }
    
        .eslogan__principal{
            text-align: center;
        }
        .video__principal{
            width: 560px;
            height: 260px;
        }
        .contenedor__seccion{
            margin-left: 300px;
        }
        .contenedor__seccion3{
            flex-direction: column;
            background-color: none;
    
        }
        .imagen__principal{
            width: 300px;
        }
        .footer__contenedor{
            width: 200vw;
        }
        .imagen__seccion3{
            margin-left: 300px;
        }
        .texto__seccion3{
            margin-left: 50px;
            width: 150vw;
            background-color: rgba(163, 213, 214, 40%);
        }
        /*info*/
        .contenedor__encabezados{
            justify-content: flex-start;
    
        }
        .contenedor__logros{
            align-items: none;
            width: 190vw;
            flex-direction: column;
        }
        .img__logros{
            width: 180vw;
        }
    
        .contenedor__logros--dos{
            align-items: none;
            width: 190vw;
            flex-direction: column;
        }
        /*Galeria*/
        .galeria__contenedor{
            display: grid;
            grid-template-columns: 1fr;
        }
        .item__galeria{
            width: 190vw;
        }
        .videos__galeria{
            display: none;
        }
        /*Nosotros*/
        .encabezado__nosotros{
            width: 200vw;
        }
        .nosotros__contenedor{
            width: 200vw;
            flex-direction: column;
        }
        .img__comunidad{
            width: 190vw;
        }
        .img__comunidad--dos{
            width: 190vw;
        }
        .parrafo__comunidad{
            width: 200vw;
        }
        .contenedor__encabezados--dos{
            flex-direction: column;
        }
        .seccion__contacto{
            width: 200vw;
        }
        .imagen__contacto{
            width: 150vw;
        }
    
}